.custom-section {
    background-color: #a89c98; /* Matching background color */
    padding: 50px;
  }
  
  .reserve-btn {
    background-color: #ffd700;
    border: none;
    color: black;
    font-weight: bold;
  }
  